body {
    font-family: Arial, sans-serif;
    background-color: #f4f4f4;
    margin: 0;
    padding: 0;
}

.center-screen {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
}

.form {
    background: white;
    padding: 20px;
    border-radius: 5px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    width: 300px;
}

.form-element {
    margin-bottom: 15px;
}

    .form-element input {
        width: 100%;
        padding: 10px;
        border: 1px solid #ccc;
        border-radius: 5px;
    }

    .form-element button {
        width: 100%;
        padding: 10px;
        background-color: #28a745;
        color: white;
        border: none;
        border-radius: 5px;
        cursor: pointer;
    }

        .form-element button:hover {
            background-color: #218838;
        }

h2 {
    text-align: center;
    margin-bottom: 20px;
}

p {
    text-align: center;
}
.card-img-top {
    width: 100%; /* Faz com que a imagem ocupe toda a largura do card */
    height: 200px; /* Definindo uma altura fixa */
    object-fit: cover; /* Mantém a proporção da imagem, cortando o excesso se necessário */
}

